header{
	height: 60px;
	background-color: black;
	display: flex;
	justify-content:space-between;
	align-items: center;
	padding: 0px 20px 0 40px;
}
header img{
	margin:0 20px 20px 0;
}
header .menu{
	font-size: 18px;
}
header a{
	color: white;
	padding: 0 12px;
	text-decoration: none;
}
header a:hover{
	color: #ccc;
}
.slider{
	height: 100px;
	background-color: #f6f6f6;
	display: flex;
	justify-content: space-around;
	padding: 5px 100px;
}
.slider p{
	font-weight: bold;
	font-size: 10px;
}
.pic{
	height: 450px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
    background-color: #095D67;


}
.pic button{
	height: 40px;
	width: 120px;
    border: 2px solid;
    font-weight: bold;
    background-color: black;
    color: white;
    border:1px solid black;
  
}
.pic button:hover{
    background-color: gray;
    color: white:;
    border:1px solid gray;
}
.pic h1{
	font-size: 60px;
	color: white;
	font-weight: bold;
}
.pic img{
	position: relative;
	top: 60px;
}
#snak{
	height: 400px;
	text-align: center;
	padding-top: 40px;
}
.fat{
	display: flex;
	justify-content: space-around;

}
.fat .fa{
	color: black;
}
#deux{
	height: 500px;
	display: flex;
	justify-content: space-around;
	text-align: center;
	padding-top: 60px;
	background-color: #f2f2f2;
}
#deux button , .mem button , .large button{
	height: 45px;
	width: 180px;
	background-color: black;
	color: white;
	margin: 20px 0;
}
#deux button, .mem button:hover{
	opacity:0.5;
}
h3{
	font-weight: bold;
}
#test{
	height: 600px;
	display: flex;
	justify-content: space-around;
}
.txt{
	padding: 140px 0 0 140px;
}
#test2{
	height: 650px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-bottom: 80px;
	padding-bottom: 0px;
}
h2{
   font-weight: bold;
    font-size: 36px; 
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;"
}
.mem{
	height: 300px;
	background-color: #f2f2f2;
	text-align: center;
	padding-top: 60px;
}
.mem2{
	height: 300px;
	background-color: #f2f2f2;
	text-align: center;
	padding-top: 40px;
}
.large{
	height: 700px;
	width: 1320px;
	background: url(../images-KIND/biscuit.png);
	background-size: cover;
	background-position: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 160PX;
}
#trois{
	height: 400px;
	width: 100%;
	display: flex;
	justify-content: space-around;
	padding: 0 13em;
	background: black;
	text-align: center;
	color: black;
	font-weight: bold;
}
.un{
	height: 450px;
	width: 300px;
	background: white;
	position: relative;
	bottom: 90px;
}
.texto{
	display: flex;
	flex-direction: column;
	align-items: center;
}
#trois button{
	width: 100px;
	height: 35px;
	background: transparent;
	border: 1px solid;
	font-weight: bold;
}
#trois button:hover{
	background: black;
	color: white;
}
.second{
	margin-top: 18px;
}
footer{
	height: 330px;
	background-color: black;
	color: white;
	padding: 0 80px;
}
.pied{
	height: 200px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
footer .pied .fa{
	font-size: 26px;
	color: white;
	padding-right: 20px;
}
.fin{
	height: 130px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
footer .fin button{
	width: 250px;
	height: 50px;
	color: white;
	border-radius: 30px;
	background: transparent;
	border:1px solid white;

}
.pied ul a{
	text-decoration: none;
	color: white;
	list-style-type: none;
}
footer li{
	list-style-type: none;
}